---

- name: Add directory k8s
  ansible.builtin.file:
    path: /root/.kube
    state: directory
    mode: '0700'

- name: Copy k8s admin.conf
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    mode: '0700'
    remote_src: yes

### kubectl autocomplete

- name: Generate kubectl completion script
  ansible.builtin.shell:
    cmd: kubectl completion bash > ~/.kube/completion.bash.inc
    creates: ~/.kube/completion.bash.inc

- name: Ensure .bash_profile sources kubectl completion
  lineinfile:
    path: "{{ ansible_env.HOME }}/.bash_profile"
    line: "source \"$HOME/.kube/completion.bash.inc\""
    insertafter: EOF
    create: yes

### helm

- name: Install Helm
  ansible.builtin.unarchive:
    src: "https://get.helm.sh/helm-{{ helmVersion }}-linux-amd64.tar.gz"
    dest: /usr/local/bin
    extra_opts: "--strip-components=1"
    owner: root
    group: root
    mode: 0755
    remote_src: true
    creates: /usr/local/bin/helm

### flux

- name: Download FluxCD install script
  ansible.builtin.get_url:
    url: https://fluxcd.io/install.sh
    dest: /tmp/flux_install.sh
    mode: 0755

- name: Run FluxCD install script
  ansible.builtin.shell: /tmp/flux_install.sh
  args:
    creates: /usr/local/bin/flux
    
### SOPS

- name: Install SOPS
  ansible.builtin.get_url:
    url: "https://github.com/getsops/sops/releases/download/v{{ sops_version }}/sops-v{{ sops_version }}.linux.amd64"
    dest: /usr/local/bin/sops
    mode: 0755
    owner: root
    group: root

### age

- name: Install age
  ansible.builtin.unarchive: 
    src: "https://github.com/FiloSottile/age/releases/download/v{{ age_version }}/age-v{{ age_version }}-linux-amd64.tar.gz"
    dest: /usr/local/bin
    extra_opts: "--strip-components=1"
    owner: root
    group: root
    mode: 0755
    remoute_src: true
    creates: /usr/local/bin/age
  
  
